
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1s;
  animation-name: fadeIn;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
  box-shadow: 0 0 35px;
}

button {
  position: relative;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30 px;
  transition: 0.25em;
}

button:hover {
 
  letter-spacing: 0.25em;
  background-color: #0062cc;
  box-shadow: 0 0 35px;

}

#result-container {
  text-align: center;
}

#result {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

#vowel-count {
  color: #007bff;
}
